{{define "datatype"}}
module {{.Namespace}}
{
	export interface {{.Name}}{{if .Base}} extends {{.Base.Namespace}}.{{.Base.Name}}{{end}}
	{{"{"}}{{range .Consts}}
		// static {{.Name}}:{{.Type}} = {{if eq .Type "string"}}"{{end}}{{.Value}}{{if eq .Type "string"}}"{{end}};{{end -}}
	{{range .Fields}}
		{{.Name}}: {{.Type}};{{end}}
	}
}
{{end}}